<h1>lista de compra</h1>
<h2>seccion de carnes</h2>
<section>carne de res</section>
<section>carne de cerdo</section>
<section>carne molida de res</section>
<section>pescado</section>
<section>corvina</section>
<h2>seccion de higiene</h2>
<section>jabon</section>
<section>pasta dental</section>
<section>shampoo</section>
<section> cepillo de dientes</section>
<section>enjuage bucal</section>
<h2>seccion comida</h2>
<section>fideos</section>
<section>lasaña</section>
<section>arroz</section>
<section>aceite</section>